* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landingpage {
  background: url("../images/school2.jpeg") no-repeat center center;
  background-size: cover;
  background-color: black;
}

#homer {
  background: url("../images/home.jpeg") no-repeat center center;
  background-size: cover;
  background-color: black;
  min-height: 600px;
}

#latest-news {
  background: url("../images/news.jpeg") no-repeat center center;
  background-size: cover;
  min-height: 600px;
  padding: 20px;
}

#aboutus {
  background-color: #ACBEA3;
  background-size: cover;
  min-height: 500px;
}

#gallery {
  background-color: beige;
  background-size: cover;
  min-height: 500px;
  padding: 20px;
}

#contactus {
  background-color: #AAFFEE;
  min-height: 400px;
}

.modal-body img {
  width: 300px;
  height: auto;
}

#gallery .card img {
  height: 200px;
}

#gallery-all {
  background-color: lightgray;
}

#gallery-page {
  background-color: beige;
  padding: 10px;
}
#gallery-page .img-thumbnail {
  height: 400px;
  width: 500px;
}
#gallery-page .modal-body img {
  height: 500px;
  width: 500px;
}

#company-profile {
  background-color: beige;
  padding: 10px 10px 160px 10px;
}

.vision-mission {
  background-color: skyblue;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
