
*
	padding: 0
	margin: 0
	box-sizing: border-box

.navbar-default 
	background-color: #384F3D !important

.navbar-brand
	color: white !important

.list-bar
	// margin-left: -20px !important




.landingpage 
	background: url('../images/school2.jpeg') no-repeat center center
	background-size: cover
	// background-color: black
	// background-position : right 20px bottom -120px

#homer
	// background: url('../images/home.jpeg') no-repeat center center
	background-color: #A3AF62
	background-size: cover
	// background-color: black
	min-height: 600px

// #bgnews 
// 	background-color: black !important
// 	opacity: 0.5
// 	position:absolute
// 	z-index: 1
// 	// height: 100vh

#latest-news
	// background-color: white !important
	background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.7)),url('../images/news.jpeg') no-repeat center center
	background-size: cover
	min-height: 600px
	padding: 10px
	z-index: -1
	// opacity: 0.5
	.card
		// opacity: 1
		img
			height: 250px
			// opacity: 1


#aboutus
	background: linear-gradient(rgba(254,252,234,0.9),rgba(241,218,54,0.7)), url('../images/aboutus.jpeg') no-repeat center center
	background-size: cover
	min-height: 600px	
	p
		text-align: justify
		padding: 10px
		

	h5
		border-bottom: 1px solid black
		padding: 5px 100px 5px 10px
		// background-color: lightgreen
		font-weight: bold

		

#gallery
	background-color: #CAD593
	background-size: cover
	min-height: 600px
	padding: 10px
	.card
		img
			height: 250px
			


	.modal-body
		img
			height: 400px
			width: 465px
			

@media only screen and (max-width: 600px)
	#gallery
		background-color: beige
		background-size: cover
		min-height: 600px
		padding: 10px
		.card
			img
				height: 100px 
		.modal-body
			img
				height: 300px
				width: 250px

			



#contactus
	background-color: #BAD673
	min-height: 600px
	

.modal-body
	img
		width: 500px
		height: 500px


#gallery-all
	background-color: lightgray

#gallery-page
	background-color: beige
	padding: 10px 0px 10px 25px
	align-items: center
	.img-thumbnail
		height: 400px
		width: 500px
	.modal-body
		img
			height: 500px
			width: 700px
			margin-left: -100px

@media only screen and (max-width: 600px)
	#gallery-page
		background-color: beige
		padding: 10px 0px 10px 25px
		align-items: center

		.img-thumbnail
			height: 300px
			width: 300px
			margin-left: -15px
		.modal-body
			img
				height: 200px
				width: 200px
				margin-left: 40px
				margin-top: 200px

.navbar
	.navbar-nav
		.nav-link
			color: white

#footerdown
	position: absolute
	right: 0
	bottom: 0
	left: 0
	padding: 0
	margin: 0
	background-color: #efefef
	text-align: center

.map
	width: 100%
	border: 0
	height: 300px





			
						  


		



	


	




