* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-default {
  background-color: #384F3D !important;
}

.navbar-brand {
  color: white !important;
}

.landingpage {
  background: url("../images/school2.jpeg") no-repeat center center;
  background-size: cover;
}

#homer {
  background-color: #A3AF62;
  background-size: cover;
  min-height: 600px;
}

#latest-news {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)), url("../images/news.jpeg") no-repeat center center;
  background-size: cover;
  min-height: 600px;
  padding: 10px;
  z-index: -1;
}
#latest-news .card img {
  height: 250px;
}

#aboutus {
  background: linear-gradient(rgba(254, 252, 234, 0.9), rgba(241, 218, 54, 0.7)), url("../images/aboutus.jpeg") no-repeat center center;
  background-size: cover;
  min-height: 600px;
}
#aboutus p {
  text-align: justify;
  padding: 10px;
}
#aboutus h5 {
  border-bottom: 1px solid black;
  padding: 5px 100px 5px 10px;
  font-weight: bold;
}

#gallery {
  background-color: #CAD593;
  background-size: cover;
  min-height: 600px;
  padding: 10px;
}
#gallery .card img {
  height: 250px;
}
#gallery .modal-body img {
  height: 400px;
  width: 465px;
}

@media only screen and (max-width: 600px) {
  #gallery {
    background-color: beige;
    background-size: cover;
    min-height: 600px;
    padding: 10px;
  }
  #gallery .card img {
    height: 100px;
  }
  #gallery .modal-body img {
    height: 300px;
    width: 250px;
  }
}
#contactus {
  background-color: #BAD673;
  min-height: 600px;
}

.modal-body img {
  width: 500px;
  height: 500px;
}

#gallery-all {
  background-color: lightgray;
}

#gallery-page {
  background-color: beige;
  padding: 10px 0px 10px 25px;
  align-items: center;
}
#gallery-page .img-thumbnail {
  height: 400px;
  width: 500px;
}
#gallery-page .modal-body img {
  height: 500px;
  width: 700px;
  margin-left: -100px;
}

@media only screen and (max-width: 600px) {
  #gallery-page {
    background-color: beige;
    padding: 10px 0px 10px 25px;
    align-items: center;
  }
  #gallery-page .img-thumbnail {
    height: 300px;
    width: 300px;
    margin-left: -15px;
  }
  #gallery-page .modal-body img {
    height: 200px;
    width: 200px;
    margin-left: 40px;
    margin-top: 200px;
  }
}
.navbar .navbar-nav .nav-link {
  color: white;
}

#footerdown {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #efefef;
  text-align: center;
}

.map {
  width: 100%;
  border: 0;
  height: 300px;
}

/*# sourceMappingURL=style.css.map */
