* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landingpage {
  background: url("../images/school2.jpeg") no-repeat center center;
  background-size: cover;
  background-color: black;
}

#homer {
  background: url("../images/home.jpeg") no-repeat center center;
  background-size: cover;
  background-color: black;
  min-height: 600px;
}

#latest-news {
  background: url("../images/news.jpeg") no-repeat center center;
  background-size: cover;
  min-height: 600px;
  padding: 20px;
}
#latest-news .card img {
  height: 250px;
}

#aboutus {
  background: url("../images/aboutus.jpeg") no-repeat center center;
  background-size: cover;
  min-height: 600px;
}
#aboutus p {
  text-align: justify;
  padding: 10px;
}
#aboutus h5 {
  border-bottom: 1px solid black;
  padding: 5px 100px 5px 10px;
  background-color: lightgreen;
  font-weight: bold;
}

#gallery {
  background-color: beige;
  background-size: cover;
  min-height: 600px;
  padding: 10px;
}
#gallery .card img {
  height: 200px;
}
#gallery .modal-body img {
  height: 400px;
  width: 450px;
}

#contactus {
  background-color: #AAFFEE;
  min-height: 600px;
}

.modal-body img {
  width: 500px;
  height: 500px;
}

#gallery-all {
  background-color: lightgray;
}

#gallery-page {
  background-color: beige;
  padding: 10px 0px 10px 25px;
  align-items: center;
}
#gallery-page .img-thumbnail {
  height: 400px;
  width: 500px;
}
#gallery-page .modal-body {
  height: 300px;
  width: 300px;
}

.navbar .navbar-nav .nav-link {
  color: white;
}

#footerdown {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #efefef;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
